################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/Insulator_Zero_Value_Detection_Robot
/Insulator_Zero_Value_Detection_Robot/x64
/RunDir/Insulator_Zero_Value_Detection_Robot.pdb
